[submodule "ingress-nginx"]
	path = ingress-nginx
	url = git@github.com:kubernetes/ingress-nginx.git
[submodule "robobeerun-templates"]
	path = robobeerun-templates
	url = git@github.com:robobee-repos/robobeerun-templates.git
